<h4>Edit Project</h4>

<label>New Project Title:</label>
<input [(ngModel)]="selectedProject.title">
<br>

<label>New Project Organizer:</label>
<input [(ngModel)]="selectedProject.organizer">
<br>

<label>New Project goal:</label>
<input [(ngModel)]="selectedProject.goal">
<br>

<label>New Project Date:</label>
<input [(ngModel)]="selectedProject.date">
<br>

<label>New Album Description:</label>
<input [(ngModel)]="selectedProject.description">

<button class="btn btn-warning" (click)="beginUpdatingProject(selectedProject)">Update</button>
<button class="btn btn-danger" (click)="beginDeletingProject(selectedProject)">Delete</button>
<hr>
